/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --green-grad: linear-gradient(to left, rgb(182, 244, 146), rgb(51, 139, 147));
    --teal: rgb(51, 139, 147);
    --main-gray: #303841;

}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}



html {
    box-sizing: border-box;
    font-size: 0.8vw;
    scroll-behavior: smooth;
}


/* Base styles */

body {
    font-family: 'Outfit', sans-serif;
    color: var(--main-white);
}

h1,
h2 {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3vw;
    color: var(--main-whitel);
    margin-top: 3.5vw;
}

h2 {
    font-size: 2vw;
    color: var(--main-white);

}


p {
    font-size: 1.5vw;
    color: var(--main-white);
    ;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}

/* nav */

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-gray);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    font-size: 1.5vw;
    padding: 2rem;
}



.nav-list a:hover {
    background: var(--main-white);
    color: var(--main-gray);
}

/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 35vh;
    background: var(--teal);

}


/* Projects section */

.projects-section {
    text-align: center;
    padding: 2rem 1rem;
    background: var(--green-grad);
}

.projects-section-header {
    margin: 0 auto 6rem auto;
    font-size: 2.5vw;
    margin-top: 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
}


.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.project-image {
    width: 100%;
}

.project-title {
    font-size: 1.5vw;
    padding: 2rem 2rem;
}


/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20%;
    background: var(--teal);

}

.contact-section-header>h2 {
    font-size: 2.5vw;
    margin-top: 2rem;
}


.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: 3rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 1.5vw;
    transition: transform 0.3s ease-out;
    margin: 2.5rem;
}

.contact-details:hover {
    transform: translateY(8px);
}

@media only screen and (min-width: 300px) and (max-width: 601px) {

    h1 {
        font-size: 6vw;
        color: var(--main-white);
        ;

    }

}

@media only screen and (min-width: 300px) and (max-width: 601px) {

    p {
        font-size: 4vw;
        color: var(--main-white);
        ;

    }

}

@media only screen and (min-width: 300px) and (max-width: 601px) {

    .contact-section-header>h2 {
        font-size: 4vw;
        color: var(--main-white);
        ;

    }

}

@media only screen and (min-width: 300px) and (max-width: 601px) {

    .contact-details {
        font-size: 3vw;
        color: var(--main-white);
        ;

    }

}

@media only screen and (min-width: 300px) and (max-width: 601px) {

    .projects-section-header {
        font-size: 4vw;
        color: var(--main-white);
        ;

    }

}

@media only screen and (min-width: 300px) and (max-width: 601px) {

    .nav-list a {
        font-size: 3vw;
        color: var(--main-white);
        ;

    }
}